<div class='row'>
  <div class='black-opaque col m6 offset-m3'>
    <%= form_for @shop do |f| %>

    <%= f.label :item %>
    <%= f.text_field :item %>

    <%= f.label :brand %>
    <%= f.text_field :brand %>

    <%= f.label :price %>
    <%= f.number_field :price %>

    <%= f.submit %>

    <% end %>
  </div>
</div>
