<nav>
    <div class="nav-wrapper purple accent-2">
      <a href="#" class="brand-logo center">Essentials inc.</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'телега', carts_path%></li>
        <!--- <li><%= link_to'', new_shop_path%></li>-->
        <li><%= link_to 'menu', shops_path%></li>
      </ul>
    </div>
  </nav>


  <div class='row'>
    <div class='black-opaque col m6 offset-m3   white-text'>
  <table>
    <thead>
    </thead>
  <tbody>
    <% if @carts.any? %>
     <% end %>
      <% @carts.each do |cart| %>
    <tr>
      <td><%= cart.item %></td>
      <td><%= cart.brand %></td>
      <td><%= cart.price %></td>
      <td><%= link_to 'Delete', cart_path(cart), method: :delete %> </td>
     </tr>
     <% end %>
     <h2> Total:<%= @carts.map { |h| h[:price].to_f }.sum %>


   </tbody>
  </table>
 </div>
</div>
